*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    background: url(https://th.bing.com/th/id/R.b4b9965d7f19f05fa6cd040ab39ac736?rik=ZaZkWSr%2fqyBBKg&pid=ImgRaw&r=0) no-repeat center/cover;
    font-family: 'Roboto', sans-serif;
    height: fit-content;
    color: #ffffff;
}
h1{
    margin-top: 1vh;
    color: #155060;
}
.parentDiv{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 50vw;
    padding: 2rem;
}
.inputDiv{
    display: flex;
    justify-content: center;
    /* gap: 2vw; */
    margin: 2vw 0;
}
#task-input{
    border: 1.5px solid #ffffff;
    border-right: none;
    border-radius: 20px;
    padding: 1vh 2vw;
    background-color: transparent;
    
}
#task-input:focus{
    outline: none;
}
#task-btn{
    background-color: #155060;
    padding: 1vh 1vw ;
    border: 1.4px solid #155060 ;
    border-radius: 20px;
    transform: translateX(-40px);
    color: #ffffff;
}
.divOf-list{
    position: relative;
}
#error-ofinput{
position: absolute;
top: -72px;
left: 150px;
}
.list-of-users{
    border-bottom: 2px solid #00c8ff;
    border-radius: 10px;
    padding: 2vw 0;
    list-style: none;
    padding-left: 2vw;
    display: flex;
    padding-inline: 3vw;
    align-items: center;
    gap: 4vw;
    margin-bottom: 1vh;
    
}
.divIcons{
    display: flex; 

    gap: 2vw;
}